.skills {
    display: flex;
    flex-direction: column;

}

.skills_header {
    margin: 0 auto;
}

.skills_header h2 {
    margin-bottom: 5rem;
}

.skills_box {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
    padding: 3rem;
    justify-content: space-between;

}

.box_item {
    min-width: 100px;
    min-height: 100px;
    text-align: center;
}

.box_item image {
    min-width: 100px;
    min-height: 100px;
}

.skills_button {
    display: inline-block;
    text-align: center;
    margin-bottom: var(--ai-size-xl);
}

@media screen and (min-width: 320px) {
    .skills {
        margin-top: -30vh;
    }
    .skills_header h2 {
        margin-bottom: 0;
    }
}
