.introduction {
    width: 80vw;
    height: calc(100vh - rem(84px));
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.introduction_wrapper{
    position: relative;

}

.introduction_professions {
    position: absolute;
    top: -5vh;
    left: 0;
    width: 100vw;
    color: var(--color-orange)
}

.introduction_name {
    position: absolute;
    top: -20vh;
    left: 0;
    width: 100vw;
}

.profession_frontend {
    color: var(--color-green);
}

.profession_backend {
    color: var(--color-purple);
}

.profession_mentor {
    color: var(--color-orange)
}

.introduction_photo {
    width: 40vw;
    height: 100%;
}


