.introduction {
    width: 100vw;
    height: calc(100vh - rem(84px));
    display: flex;
    justify-content: center;
    align-items: center;

}

.introduction_wrapper{
    position: relative;

}

.introduction_professions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.introduction_name {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100vw;
}

.profession_frontend {
    color: var(--color-green);
}

.profession_backend {
    color: var(--color-purple);
}

.profession_mentor {
    color: var(--color-orange)
}

.introduction_photo {
    width: 40vw;
    height: 100%;
}


