::before {
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li{
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

h1 {
    font-weight: bold;
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    background-color: #060404;
    color: #ffffffd1;
}

:root {
    --color-green: #0cdbdb;
    --color-purple: #8c22b7;
    --color-orange: #ee710b;

    --ai-size-xs: rem(18px);
    --ai-size-sm: rem(22px);
    --ai-size-md: rem(28px);
    --ai-size-lg: rem(34px);
    --ai-size-xl: rem(44px);
}

@media screen and (min-width: 320px) {
    h1{
        font-size: var(--ai-size-lg);
        text-align: center;
    }
}
