:root {
    --custom-green-color: #0cdbdb;
    --custom-purple-color: #8c22b7;
    --custom-orange-color: #ee710b;
    --mantine-color-body: var(--mantine-color-gray-9);
    --mantine-color-text: white;
}

body {
    background-color: var(--mantine-color-gray-9)!important;
    color: var(--mantine-color-white);
}





/*::before {*/
/*    padding:0;*/
/*    margin:0;*/
/*    border:0;*/
/*    box-sizing: border-box;*/
/*}*/

/*a {*/
/*    text-decoration: none;*/
/*}*/

/*ul,*/
/*ol,*/
/*li{*/
/*    list-style: none;*/
/*}*/

/*img {*/
/*    vertical-align: top;*/
/*}*/

/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5,*/
/*h6 {*/
/*    margin-top: 0;*/
/*}*/

/*h1 {*/
/*    font-weight: bold;*/
/*    font-size: 5rem;*/
/*}*/

/*h2 {*/
/*    font-size: 2rem;*/
/*    font-weight: bold;*/
/*}*/

/*html,*/
/*body {*/
/*    height: 100%;*/
/*    line-height: 1;*/
/*    font-size: 16px;*/
/*    background-color: #060404;*/
/*    color: #ffffffd1;*/
/*}*/

/*:root {*/
/*    --color-green: #0cdbdb;*/
/*    --color-purple: #8c22b7;*/
/*    --color-orange: #ee710b;*/

/*    --ai-size-xs: rem(18px);*/
/*    --ai-size-sm: rem(22px);*/
/*    --ai-size-md: rem(28px);*/
/*    --ai-size-lg: rem(34px);*/
/*    --ai-size-xl: rem(44px);*/


/*    !**/
/*  Paddings and margins*/
/* *!*/
/*    --padding-margin-tiny: 0.1rem;*/
/*    --padding-margin-small: 0.5rem;*/
/*    --padding-margin-normal: 1rem;*/
/*    --padding-margin-big: 1.5rem;*/
/*    --padding-margin-huge: 2rem;*/
/*    --padding-margin-giant: 3rem;*/
/*}*/

/*@media screen and (min-width: 320px) {*/
/*    h1{*/
/*        font-size: var(--ai-size-xl);*/
/*        text-align: center;*/
/*    }*/
/*    h2 {*/
/*        font-size: var(--ai-size-md);*/
/*    }*/
/*}*/


